datafactory/pipeline/PipelineCopyRfbUnzip.json
{
	"name": "PipelineCopyRfbUnzip",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('qtd_arquivos')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Destination",
									"value": "raw/CNPJ/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "UNZIP_RFB",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "UNZIP_RAW",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "qtd_arquivos",
					"value": {
						"value": "range(1,2)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"qtd_arquivos": {
				"type": "Array",
				"defaultValue": [
					0
				]
			}
		},
		"annotations": []
	}
}