datafactory/pipeline/PipelineCopyRfbUnzip.json
{
	"name": "PipelineCopyRfbUnzip",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('QuantidadeArquivo')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Destination",
									"value": "raw/CNPJ/"
								}
							],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "UNZIP_RFB",
									"type": "DatasetReference",
									"parameters": {
										"nomeArquivo": {
											"value": "@variables('nomeArquivo')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "UNZIP_RAW",
									"type": "DatasetReference",
									"parameters": {
										"nomeArquivo": {
											"value": "@variables('nomeArquivo')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "nomeArquivo",
								"value": "@concat('DADOS_ABERTOS_CNPJ_',if(equals(mod(item(),10),0),item(),concat('0',item(),'.zip')))"
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "QuantidadeArquivo",
					"value": {
						"value": "range(1,2)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"QuantidadeArquivo": {
				"type": "Array",
				"defaultValue": [
					0
				]
			},
			"nomeArquivo": {
				"type": "String"
			}
		},
		"annotations": []
	}
}